# Full file owned by the hosting Ubuntu service profile.
Port {{ hosting_target.port }}
HostKey /etc/ssh/ssh_host_ed25519_key
PermitRootLogin no
PasswordAuthentication no
KbdInteractiveAuthentication no
PubkeyAuthentication yes
AuthenticationMethods publickey
AuthorizedKeysFile none
TrustedUserCAKeys /etc/ssh/hosting-user-ca.pub
AuthorizedPrincipalsFile /etc/ssh/hosting-principals/%u
RevokedKeys /etc/ssh/hosting-revoked-keys
PubkeyAcceptedAlgorithms ssh-ed25519-cert-v01@openssh.com
AllowUsers {{ hosting_target.services.admin_users | join(' ') }} {{ hosting_target.services.breakglass.user }}
StrictModes yes
UsePAM yes
PermitEmptyPasswords no
PermitUserEnvironment no
PermitUserRC no
X11Forwarding no
AllowAgentForwarding no
AllowTcpForwarding no
AllowStreamLocalForwarding no
GatewayPorts no
PermitTunnel no
MaxAuthTries 3
MaxSessions 4
LoginGraceTime 30
ClientAliveInterval 300
ClientAliveCountMax 2
LogLevel VERBOSE
Subsystem sftp internal-sftp

Match User {{ hosting_target.services.breakglass.user }}
    AuthorizedKeysFile /etc/ssh/hosting-recovery/%u
    PubkeyAcceptedAlgorithms ssh-ed25519
