[defaults]
inventory = ./inventories/localhost.yml
roles_path = ./roles
filter_plugins = ./filter_plugins
retry_files_enabled = False
host_key_checking = True
display_args_to_stdout = False
interpreter_python = auto_silent
nocows = True
stdout_callback = default

[ssh_connection]
pipelining = False
